@using Microsoft.AspNetCore.Localization
@{
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Kingflix | @ViewData["Title"]</title>
    <meta name="description" content='@ViewData["MetaKeyword"]'>
    <meta name="keywords" content='@ViewData["MetaDescription"]' />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">

    <environment exclude="Development">
        <link href="~/css/site.min.css" rel="stylesheet" />
    </environment>
    <environment include="Development">
        <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
        <link href="~/assets/css/styleHome.css" rel="stylesheet" />
        <link href="~/css/site.css" rel="stylesheet" />
    </environment>

</head>
<body class='@ViewData["BodyClass"] landing-page'>
    <div class="tap-top"><i data-feather="chevrons-up"></i></div>
    <div class="sticky-header">
        <header>
            <nav class="navbar navbar-b navbar-trans navbar-expand-xl fixed-top nav-padding" id="sidebar-menu">
                <a class="navbar-brand p-0" href="#"><img class="" src="~/images/camhouse-logo.png" alt="" height="55"><span class="h1 fw-bold" style="vertical-align: text-top">CamHouse</span></a>
                <button class="navbar-toggler navabr_btn-set custom_nav" type="button" data-bs-toggle="collapse" data-bs-target="#navbarDefault" aria-controls="navbarDefault" aria-expanded="false" aria-label="Toggle navigation"><span></span><span></span><span></span></button>
                <div class="navbar-collapse justify-content-end collapse hidenav" id="navbarDefault">
                    <ul class="navbar-nav navbar_nav_modify" id="scroll-spy">
                        <li class="nav-item"><a class="nav-link" href="/">Trang Chủ</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">Về CamHouse</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">Tin Tức</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">Liên hệ</a></li>
                        <li class="nav-item buy-btn"><a class="nav-link js-scroll" href="#" target="_blank">Trở Thành Chủ Nhà</a></li>
                    </ul>
                </div>
            </nav>
        </header>
    </div>
    <div class="page-wrapper landing-page">
        @RenderBody()
        <footer class="footer-bg">
            <div class="container">
                <div class="landing-center ptb50">
                    <div class="title"><img class="img-fluid" src="../assets/images/landing/landing_logo.png" alt=""></div>
                    <div class="footer-content">
                        <h1>The Cuba Bootstrap Admin Theme Trusted By Many Developers World Wide.</h1>
                        <p>If You like Our Theme So Please Rate Us.</p><a class="btn mrl5 btn-lg btn-primary default-view" target="_blank" href="index.html">Check Now</a><a class="btn mrl5 btn-lg btn-secondary btn-md-res" target="_blank" href="https://1.envato.market/3GVzd">Buy Now                    </a>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    
    @RenderSection("Scripts", required: false)

    <environment exclude="Development">
        <script src="~/js/site.min.js" type="text/javascript"></script>
    </environment>
    <environment include="Development">
        <script src="~/lib/jquery/jquery.js" type="text/javascript"></script>
        <script src="~/lib/jquery/jquery.slim.js" type="text/javascript"></script>
        <script src="~/lib/popper.js/umd/popper.js" type="text/javascript"></script>
        <script src="~/lib/bootstrap/js/bootstrap.js" type="text/javascript"></script>

        <script src="~/assets/js/owlcarousel/owl.carousel.js" type="text/javascript"></script>
        <script src="~/assets/js/tooltip-init.js" type="text/javascript"></script>
        <script src="~/assets/js/animation/wow/wow.min.js" type="text/javascript"></script>
        <script src="~/assets/js/landing.js" type="text/javascript"></script>
        <script src="~/assets/js/landing_sticky.js" type="text/javascript"></script>

        <script src="~/js/site.js" type="text/javascript"></script>
    </environment>

</body>
</html>
